EkiRiha/.gradle/2.10/taskArtifacts/cache.properties.lock
EkiRiha/.gradle/2.10/taskArtifacts/fileHashes.bin
EkiRiha/.gradle/2.10/taskArtifacts/fileSnapshots.bin
EkiRiha/.gradle/2.10/taskArtifacts/outputFileStates.bin
EkiRiha/.gradle/2.10/taskArtifacts/taskArtifacts.bin
EkiRiha/.idea/libraries/animated_vector_drawable_23_3_0.xml
EkiRiha/.idea/libraries/appcompat_v7_23_3_0.xml
EkiRiha/.idea/libraries/support_v4_23_3_0.xml
EkiRiha/.idea/workspace.xml
EkiRiha/app/src/main/java/com/enpit/t311/ekiriha/EkiActivity.java
